<div class="center hero-unit">
  <h1>Welcome to Toureka</h1>
</div>
<br>

<%= render 'layouts/header1' %>

<div class="span4 offset6">
<h1>Sign in</h1>
<div class="row">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
</div>
</center>