<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Toureka", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "About",    '#' %></li>
          <li><%= link_to @user.username+"'sProfile",    '#' %></li>
          <li><%= link_to "Signout", signout_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="searchBox">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :city %>
      <%= f.text_field :city %><br>
      <%= f.submit "Search", class: "btn btn-large btn-primary" %>
</div><br><br><br><br>
<div align="right">
      <%= f.submit "TouristSpot", class: "btn btn-large btn-primary" %>
      <%= f.submit "Hotels", class: "btn btn-large btn-primary" %>
      <%= f.submit "Entry Points", class: "btn btn-large btn-primary" %>
</div>
<% end %>
