<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Toureka", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "About",    '#' %></li>
          <li><%= link_to @user.username+"'sProfile",    '#' %></li>
          <li><%= link_to "Signout", signout_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= form_for(:session, url: {action: "select_city"},method: 'get') do |f| %>
        <%= f.label :city %>
        <%= f.text_field :city %><br>
        <%= f.submit "Search", class: "btn btn-large btn-primary" %>
    </div>
    <br><br><br>
    <div  class="span9" style="background-color:grey;height:40px">
      <%= f.submit "save", id: 'saveButton', class: "btn " , style: "float:right;margin:5px" %>
    </div>
    <br>
    <div class="span9" align="left">
        <%= f.submit "TouristSpot", id: 'touristSpotTab', class: "btn btn-large" %>
        <%= f.submit "Hotels", id: 'hotelTab' ,class: "btn btn-large " %>
        <%= f.submit "Entry Points", id: 'epTab' , class: "btn btn-large" %>
    </div>
  </div>
</div>
<% end %>
