<!DOCTYPE html>
<html>
<head>
    
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
   
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <%= yield :scripts%>
    </div>
  </body>
</html>
<script>
  var EntryPointCount=0;

  function deleteFunc(param){
    $(param).parent().remove(); 
  };     

  $('#addEntryPoint').click(function(){
      div1='<div style="background:#777777;margin-left:80px;padding-top:10px;display:"><input type="text" class="input-medium search-query" placeholder="Name"><input type="text" class="input-medium search-query" placeholder="Latitude"><input type="text" class="input-medium search-query" placeholder="Longitude"><input type="text" class="input-medium search-query" placeholder="Type"><a onclick="deleteFunc(this)"" id="deleteEntryPoint" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
      $('.addEntryPoint').prepend(div1);   
      EntryPointCount++;                     
  });

</script>