<!DOCTYPE html>
<html>
<head>

    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'jquery-1.10.2.min.js', 'jquery-ui-1.10.3.custom.min.js' %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
   
  </head>
  <body>
    <% if !flash[:notice].nil? %>
    <div class="row container">
        <div class="flash notice alert">
            <%= flash[:notice] %>
        </div>
    </div>
    <% end %>
    <% if !flash[:error].nil? %>
    <div class="row container">
        <div class="flash error alert">
            <%= flash[:error] %>
        </div>
    </div>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
      <%= yield :scripts%>
    </div>
  </body>
</html>