	<%= render 'layouts/header2' %>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="scroll-pane scroller1">
					<div class="well sidebar-nav">
							<ul id="markers_list"></ul>
						
					</div>
				</div>
			</div>
			<div class="span9" align="right" >
				<div id="mapWalaContainer" >
					<div class="mapOnly" >
					<%= gmaps("markers" => {"data" => @json1, "options" => {"list_container" => "markers_list" } }) %>
						
					</div>
					<div  id="popoverContent" class="well">

					</div>					
				</div>
			</div>
		</div>
	</div>

<script>
	var tog=true;

	$(document).ready(function() {
    $("#session_city").autocomplete({
      source: <%= raw @districtName %>
    });
		Gmaps.map.callback = function() {
			// Gmaps.map.map_options.center_latitude
			// Gmaps.map.map_options.auto_zoom = false;
			// Gmaps.map.adjustMapToBounds();
		  if (Gmaps.map.visibleInfoWindow !== null) {
				Gmaps.map.visibleInfoWindow.close();
			}

		  // for (var i = 0; i <  this.markers.length; ++i) {
		  //   google.maps.event.addListener(
		  //    Gmaps.map.markers[i].serviceObject, 'click', (function(i) {
		  //       return function() {
		  //           var id = Gmaps.map.markers[i].id;
				// 				    (function(_str) {
				// 				        $.ajax({type: 'GET',data:{'tid': id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/show_closer_to'})
				// 				         .done(function(data) {
				// 				            processData(data, id);
				// 				         });
				// 				    }(id)); 
		  //       }
		  //   })(i));
		  // }
		 };

		function processData(data, id) {
		  console.log("hello");
		  console.log(data, id);
		  Gmaps.map.addMarkers(data,false)
		}  
		$('#touristSpotTab').click(function (event) {
		  markers = <%=raw(@json1)%>
			Gmaps.map.replaceMarkers(markers)

		  event.preventDefault(); // Prevent link from following its href
		  showToggle(false);
		});

			$('#hotelTab').click(function (event) {
				markers = <%=raw(@json2)%>
				Gmaps.map.replaceMarkers(markers)

		  event.preventDefault(); // Prevent link from following its href
		  showToggle(false);
		});

			$('#epTab').click(function (event) {
				markers = <%=raw(@json3)%>
				Gmaps.map.replaceMarkers(markers)
		  event.preventDefault(); // Prevent link from following its href
		  showToggle(false);
		});
		});

	function getMarkerClicked(marker) {
		// console.log(marker);
		if(marker.type2 == "touristSpot"){
			$.ajax({type: 'GET',data:{'tid': marker.id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/get_tourist_spot_info'}).done(function(data) {
	      	fillTouristSpotData(data);
	    });
		}
		else if(marker.type2 == "hotel"){
			$.ajax({type: 'GET',data:{'tid': marker.id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/get_hotel_info'}).done(function(data) {
	      	fillHotelData(data);
			});
		}
		else{			
			$.ajax({type: 'GET',data:{'tid': marker.id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/get_entry_point_info'}).done(function(data) {
	      	fillEntryPointData(data);
	      	});
	  	}
	
	}

	function fillTouristSpotData (data) {
		var innerHTMLcontent0=
		"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<h5>"+data.tsInfo.name+"</h5>"+
		"<h5>"+data.tsInfo.districtName+", "+data.tsInfo.stateName+"</h5>"+
		"<h5>"+"Category: "+data.tsInfo.category+"</h5>"+
		"<h5>"+"Rating: "+data.tsInfo.rating+"</h5>"+
		"<h5>"+"Description: "+data.tsInfo.description+"</h5>";
		console.log(data.reviewInfo);
		$("#popoverContent")[0].innerHTML=innerHTMLcontent0;
		showToggle(true);

	}

	function fillHotelData(data) {
		console.log(data);
		var innerHTMLcontent1=
		"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<H5>"+data.hInfo.name+"</H5>"+
		"<H5>"+data.hInfo.districtName+", "+data.hInfo.stateName+"</H5>"+			
		"<H5>"+"Description: "+data.hInfo.description+"</H5>";		
		$("#popoverContent")[0].innerHTML=innerHTMLcontent1;
		showToggle(true);		
	}

	function fillEntryPointData(data) {
		console.log(data);
		var innerHTMLcontent2=
		"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<h5>"+data.name+"</h5>"+
		"<h5>"+"Type: "+data.entryType+"</h5>"+
		"<h5>"+data.districtName+", "+data.stateName+"</h5>";					
		$("#popoverContent")[0].innerHTML=innerHTMLcontent2;
		showToggle(true);	
	}

	function showToggle(bools){
		if(!bools){
			console.log("yo1");
			$("#popoverContent")[0].style.display="none";
		}else{
			console.log("yo2");
			$("#popoverContent")[0].style.display="block";
		}
	}

</script>



<style type="text/css">
	#popoverContent{	
		/*background-color: #aaaaaa;*/
		opacity: 0.8;
		width: 300px;
		height: 400px;
		position:absolute;
		z-index: 3;
		margin-left : 575px;
		display:block;
		text-align: left;
		overflow-x:visible;
		overflow-y:auto;
		display:none;

	}
	.mapOnly{	
		z-index: 1;
		position:absolute;
	}
	.listData{

	}

</style>

<script>
	$('.popoverId').click(function(){
		$("#popoverContent").toggle();
	});
</script>

<style type="text/css" id="page-css">
  .scroller1{
    width: 100%;
    height: 450px;
    overflow: auto;
  }
</style>
