	<%= render 'layouts/header2' %>
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="scroll-pane">
					<div class="well sidebar-nav">
						<ol class=" nav nav-list ">
							<li>
								<div class="listData">
								</div>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="span9" >
				<div id="mapWalaContainer" >
					<div class="mapOnly">
						<%= gmaps4rails(@json1) %>
					</div>
				</div>
				<div id="popoverContent" >
				<pre>
						Name:
						Address:
						Category:
						City:
				</pre>
				</div>
			</div>
		</div>
	</div>
	
	<script>

		$(document).ready(function() {
			Gmaps.map.callback = function() {
				for (var i = 0; i <  this.markers.length; ++i) {
					google.maps.event.addListener(
						Gmaps.map.markers[i].serviceObject, 'click', (function(i) {
							return function() {
								var id = Gmaps.map.markers[i].id;
								(function(_str) {
									$.ajax({'type': 'GET','dataType': 'json', 'url': '/users/'+ <%=@user.id%> + '/show_closer_to'})
									.done(function(data) {
										processData(data, id);
									});
								}(id)); 
							}
						})(i));
				}
			};
			function processData(data, id) {
				console.log(data, id);
			}  
			$('#touristSpotTab').click(function (event) {
				markers = <%=raw(@json1)%>
				Gmaps.map.replaceMarkers(markers);
				for( var l=0;l<markers.length;l++){
					console.log(markers[l]);	
					$(".listData")[0].innerHTML+=markers[l].title;
					$(".listData")[0].innerHTML+="<br>"
				}
				
				

		  event.preventDefault(); // Prevent link from following its href
		});

			$('#hotelTab').click(function (event) {
				markers = <%=raw(@json2)%>
				Gmaps.map.replaceMarkers(markers)

		  event.preventDefault(); // Prevent link from following its href
		});

			$('#epTab').click(function (event) {
				markers = <%=raw(@json3)%>
				Gmaps.map.replaceMarkers(markers)
		  event.preventDefault(); // Prevent link from following its href
		});
		});
</script>



<style type="text/css">
	#popoverContent{
		width: 250px;
		height: 480px;
		position:absolute;
		z-index: 3;
		margin-left : 660px;
		display:block;
	}
	.mapOnly{
		z-index: 1;
		position:absolute;
	}
	.listData{

	}

</style>

<script>
	$('.popoverId').click(function(){
		$("#popoverContent").toggle();
	});
</script>


<style type="text/css" id="page-css">
  .scroll-pane{
    width: 100%;
    height: 450px;
    overflow: auto;
  }
</style>