	<%= render 'layouts/header2' %>
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="scroll-pane">
					<div class="well sidebar-nav">
							<ul id="markers_list"></ul>
						
					</div>
				</div>
			</div>
			<div class="span9" >
				<div id="mapWalaContainer" >
					<div class="mapOnly">
					<%= gmaps("markers" => {"data" => @json1, "options" => {"list_container" => "markers_list" } }) %>
						
					</div>
				</div>
			</div>
		</div>
	</div>

<script>

	$(document).ready(function() {
    $("#session_city").autocomplete({
      source: <%= raw @districtName %>
    });
		Gmaps.map.callback = function() {
			// Gmaps.map.map_options.center_latitude
			// Gmaps.map.map_options.auto_zoom = false;
			// Gmaps.map.adjustMapToBounds();
		  if (Gmaps.map.visibleInfoWindow !== null) {
				Gmaps.map.visibleInfoWindow.close();
			}

		  // for (var i = 0; i <  this.markers.length; ++i) {
		  //   google.maps.event.addListener(
		  //    Gmaps.map.markers[i].serviceObject, 'click', (function(i) {
		  //       return function() {
		  //           var id = Gmaps.map.markers[i].id;
				// 				    (function(_str) {
				// 				        $.ajax({type: 'GET',data:{'tid': id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/show_closer_to'})
				// 				         .done(function(data) {
				// 				            processData(data, id);
				// 				         });
				// 				    }(id)); 
		  //       }
		  //   })(i));
		  // }
		 };

		function processData(data, id) {
		  console.log("hello");
		  console.log(data, id);
		  Gmaps.map.addMarkers(data,false)
		}  
		$('#touristSpotTab').click(function (event) {
		  markers = <%=raw(@json1)%>
			Gmaps.map.replaceMarkers(markers)

		  event.preventDefault(); // Prevent link from following its href
		});

			$('#hotelTab').click(function (event) {
				markers = <%=raw(@json2)%>
				Gmaps.map.replaceMarkers(markers)

		  event.preventDefault(); // Prevent link from following its href
		});

			$('#epTab').click(function (event) {
				markers = <%=raw(@json3)%>
				Gmaps.map.replaceMarkers(markers)
		  event.preventDefault(); // Prevent link from following its href
		});
		});

	function getMarkerClicked(marker) {
		console.log(marker);
		if(marker.type2 == "touristSpot"){
			$.ajax({type: 'GET',data:{'tid': marker.id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/get_tourist_spot_info'}).done(function(data) {
	      	fillTouristSpotData(data);
	    });
		}
		else if(marker.type2 == "hotel"){
			console.log("fjdkfjls");
		}
		else{
			console.log("hhhhhhhh");
		}
	}

	function fillTouristSpotData (data) {
		console.log(data);
	}
</script>



<style type="text/css">
	#popoverContent{
		width: 250px;
		height: 480px;
		position:absolute;
		z-index: 3;
		margin-left : 660px;
		display:block;
	}
	.mapOnly{
		z-index: 1;
		position:absolute;
	}
	.listData{

	}

</style>

<script>
	$('.popoverId').click(function(){
		$("#popoverContent").toggle();
	});
</script>

<style type="text/css" id="page-css">
  .scroll-pane{
    width: 100%;
    height: 450px;
    overflow: auto;
  }
</style>
