	<%= render 'layouts/header2' %>
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="scroll-pane scroller1">
					<div class="well sidebar-nav">
						<ul id="markers_list"></ul>
						
					</div>
				</div>
			</div>
			<div class="span9" align="right" >
				<div id="mapWalaContainer" >
					<div class="mapOnly" >
						<%= gmaps("markers" => {"data" => @json1, "options" => {"list_container" => "markers_list" } }) %>
						
					</div>
					<div id="popoverContentNav">
						
					</div>
					<div  id="popoverContentReviews" class="well">

					</div>
					<div  id="popoverContentNeighbourhood" class="well" data-id="">

					</div>
					<div  id="popoverContentDetails" class="well" >

					</div>
				</div>
			</div>
		</div>
	</div>


	<script>
		var currentTrip = [] ;
		
		var tog=true;
		var previousHighlightedMarker;
		var tsimage2;
		var tsimage1;
		$(document).ready(function() {
			tsimage2 = { url: "../../assets/airplane.png", size: new google.maps.Size(32, 32)};
			tsimage1 = { url: "../../assets/marker.png", size: new google.maps.Size(32, 32)};

			$("#session_city").autocomplete({
				source: <%= raw @districtName %>
			});

			<% if !@tripTagData.nil? %> 
			var tripData = <%= raw @tripTagData%>;
	    // filling already shortlisted data
	    for (var i = 0; i <  tripData.length; i += 3){
	    	currentTrip.push([tripData[i],tripData[i+1],tripData[i+2]]);
	    	var innerHTMLContentCurrentTrip = '<div id="touristSpotTag" class="well" data-IdAndDay=' + tripData[i] +','+ tripData[i+1] + '>' + tripData[i+2] + '-' + 'Day-2' + '<a class="tag_text" style="" onclick="deleteFunc(this)">×</a></div>'
	    	$("#currentTrip")[0].innerHTML += innerHTMLContentCurrentTrip;	
	    }
	    <% end %>
	  ////////////////////////////////////////////////////
	  Gmaps.map.callback = function() {
			// Gmaps.map.map_options.center_latitude
			// Gmaps.map.map_options.auto_zoom = false;
			// Gmaps.map.adjustMapToBounds();
			if (Gmaps.map.visibleInfoWindow !== null) {
				Gmaps.map.visibleInfoWindow.close();
			}

		  // for (var i = 0; i <  this.markers.length; ++i) {
		  //   google.maps.event.addListener(
		  //    Gmaps.map.markers[i].serviceObject, 'click', (function(i) {
		  //       return function() {
		  //           var id = Gmaps.map.markers[i].id;
				// 				    (function(_str) {
				// 				        $.ajax({type: 'GET',data:{'tid': id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/show_closer_to'})
				// 				         .done(function(data) {
				// 				            processData(data, id);
				// 				         });
				// 				    }(id)); 
		  //       }
		  //   })(i));
		  // }
		};

		// function processData(data, id) {
		//   console.log(data, id);
		//   Gmaps.map.addMarkers(data,false)
		// }  
		$('#searchButton').click(function (event) {
			$('#session_service').val(currentTrip);
			console.log("ho gaya");
			showToggle(false);
		});
		$('#touristSpotTab').click(function (event) {
			markers = <%=raw(@json1)%>
			Gmaps.map.replaceMarkers(markers)

		  event.preventDefault(); // Prevent link from following its href
		  showToggle(false);
		});

		$('#hotelTab').click(function (event) {
			markers = <%=raw(@json2)%>
			Gmaps.map.replaceMarkers(markers)

		  event.preventDefault(); // Prevent link from following its href
		  showToggle(false);
		});

		$('#epTab').click(function (event) {
			markers = <%=raw(@json3)%>
			Gmaps.map.replaceMarkers(markers)
		  event.preventDefault(); // Prevent link from following its href
		  showToggle(false);
		});
	});
	
	function getMarkerClicked(marker) {
		// console.log(marker);
		if(marker.type2 == "touristSpot"){
			// console.log(marker);
			currentTrip.push([marker.id,2,marker.title]);
			var innerHTMLContentCurrentTrip = '<div id="touristSpotTag" class="well" data-IdAndDay=' + marker.id +','+ 2 + '>' + marker.title + '-' + 'Day-2' + '<a class="tag_text" style="" onclick="deleteFunc(this)">×</a></div>'
			$("#currentTrip")[0].innerHTML += innerHTMLContentCurrentTrip;
			// for changing image////////////////////////
			if(previousHighlightedMarker===undefined){
				console.log("nothing selected")
			}
			else{
				previousHighlightedMarker.serviceObject.setIcon(tsimage1);
			}
			// $(marker.serviceObject.Ge.Xa.ma).attr("src", "/assets/airplane.png");
			marker.serviceObject.setIcon(tsimage2);
			previousHighlightedMarker = marker;
			//////////////////////////////////////////
			$.ajax({type: 'GET',data:{'tid': marker.id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/get_tourist_spot_info'}).done(function(data) {
				fillTouristSpotData(data);
			});
		}
		else if(marker.type2 == "hotel"){
			$.ajax({type: 'GET',data:{'tid': marker.id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/get_hotel_info'}).done(function(data) {
				fillHotelData(data);
			});
		}
		else{			
			$.ajax({type: 'GET',data:{'tid': marker.id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/get_entry_point_info'}).done(function(data) {
				fillEntryPointData(data);
			});
		}

	}

	function fillTouristSpotData (data) {
		$("#popoverContentNeighbourhood").data({id: data.tsInfo.id});
		var innerHTMLcontent0=
		"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<h5>"+data.tsInfo.name+"</h5>"+
		"<h5>"+data.tsInfo.districtName+", "+data.tsInfo.stateName+"</h5>"+
		"<h5>"+"Category: "+data.tsInfo.category+"</h5>"+
		"<h5>"+"Rating: "+data.tsInfo.rating+"</h5>"+
		"<h5>"+"Description: "+data.tsInfo.description+"</h5>"+
		"<a class='btn btn-primary' onclick=''>Add to current Trip</a>";
		console.log(data.reviewInfo);
		$("#popoverContentDetails")[0].innerHTML=innerHTMLcontent0;
		var innerHTMLcontent1=
		'<a class="btn btn-primary" onclick="getNearbyTs(this)">Show Nearby TouristSpots</a><a class="btn btn-primary" onclick="">Show Nearby Hotel/Motel</a><a class="btn btn-primary" onclick="getNearbyLts(this)" >Show Nearby TransportStands</a>'
		/*"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<h5>"+data.tsInfo.name+"</h5>"+
		"<h5>"+data.tsInfo.districtName+", "+data.tsInfo.stateName+"</h5>"+
		"<h5>"+"Category: "+data.tsInfo.category+"</h5>"+
		"<h5>"+"Rating: "+data.tsInfo.rating+"</h5>"+
		"<h5>"+"Description: "+data.tsInfo.description+"</h5>";*/
		$("#popoverContentNeighbourhood")[0].innerHTML=innerHTMLcontent1;
		var innerHTMLcontent2=
		'Reviews'
		/*"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<h5>"+data.tsInfo.name+"</h5>"+
		"<h5>"+data.tsInfo.districtName+", "+data.tsInfo.stateName+"</h5>"+
		"<h5>"+"Category: "+data.tsInfo.category+"</h5>"+
		"<h5>"+"Rating: "+data.tsInfo.rating+"</h5>"+
		"<h5>"+"Description: "+data.tsInfo.description+"</h5>";*/
		$("#popoverContentReviews")[0].innerHTML=innerHTMLcontent2;
		var innerHTMLcontent3=
		'<ul><li><a class="innerTab" onclick="showReviews()" href="#">Reviews</a></li><li><a class="innerTab" onclick="showNeighbours()" href="#">Neighbour</a></li><li><a class="innerTab" onclick="showDetails()" href="#">Details</a></li></ul>'
		/*"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<h5>"+data.tsInfo.name+"</h5>"+
		"<h5>"+data.tsInfo.districtName+", "+data.tsInfo.stateName+"</h5>"+
		"<h5>"+"Category: "+data.tsInfo.category+"</h5>"+
		"<h5>"+"Rating: "+data.tsInfo.rating+"</h5>"+
		"<h5>"+"Description: "+data.tsInfo.description+"</h5>";*/
		$("#popoverContentNav")[0].innerHTML=innerHTMLcontent3;
		showToggle(true);

	}

	function fillHotelData(data) {
		console.log(data);
		var innerHTMLcontent1=
		"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<H5>"+data.hInfo.name+"</H5>"+
		"<H5>"+data.hInfo.districtName+", "+data.hInfo.stateName+"</H5>"+			
		"<H5>"+"Description: "+data.hInfo.description+"</H5>";		
		$("#popoverContent")[0].innerHTML=innerHTMLcontent1;
		showToggle(true);		
	}

	function fillEntryPointData(data) {
		console.log(data);
		var innerHTMLcontent2=
		"<a onclick='showToggle(false)' class='close' style='position: absolute; top: 0; right: 6px;'>&times;</a>"+
		"<h5>"+data.name+"</h5>"+
		"<h5>"+"Type: "+data.entryType+"</h5>"+
		"<h5>"+data.districtName+", "+data.stateName+"</h5>";					
		$("#popoverContent")[0].innerHTML=innerHTMLcontent2;
		showToggle(true);	
	}

	function showToggle(bools){
		if(!bools){
			console.log("yo1");
			$("#popoverContentDetails")[0].style.display="none";
			$("#popoverContentNeighbourhood")[0].style.display="none";
			$("#popoverContentReviews")[0].style.display="none";
			$("#popoverContentNav")[0].style.display="none";
		}else{
			console.log("yo2");
			$("#popoverContentDetails")[0].style.display="block";
			$("#popoverContentNeighbourhood")[0].style.display="block";
			$("#popoverContentReviews")[0].style.display="block";
			$("#popoverContentNav")[0].style.display="block";
		}
	}

	function showReviews(){
		$('#popoverContentReviews').css("z-index", "5");
		$('#popoverContentNeighbourhood').css("z-index", "4");
		$('#popoverContentDetails').css("z-index", "3");
	}

	function showNeighbours(){
		$('#popoverContentReviews').css("z-index", "4");
		$('#popoverContentNeighbourhood').css("z-index", "5");
		$('#popoverContentDetails').css("z-index", "3");
	}

	function showDetails(){
		$('#popoverContentReviews').css("z-index", "3");
		$('#popoverContentNeighbourhood').css("z-index", "4");
		$('#popoverContentDetails').css("z-index", "5");
	};

	function getNearbyTs(param){
		console.log(param);
		// console.log("djfks");

	};

	function getNearbyLts(param){
		console.log($(param).parent().data().id);
		id = $(param).parent().data().id;
		$.ajax({type: 'GET',data:{'tid': id}, dataType: 'json', url: '/users/'+ <%=@user.id%> + '/show_closer_to'}).done(function(data) {
		    showNearByItems(data, id);
		});
	};

	function showNearByItems(data, id) {
	  console.log(data, id);
	  for (var i = 0; i <  Gmaps.map.markers.length; ++i) {
	  	if (Gmaps.map.markers[i].type == "child"){
	  		console.log("ye hatana he")
	  		Gmaps.map.hideMarker(Gmaps.map.markers[i])
	  	}
	  }
	  Gmaps.map.addMarkers(data,false)
	} 
	function deleteFunc(param){
		$(param).parent().remove();
		[id,day]=$($(param).parent()).data()['idandday'].split(',');
		console.log(currentTrip)
		var tripData;
		for (var i = 0; i <  currentTrip.length; ++i){
			tripData = currentTrip[i]
			if (tripData[0]==id & tripData[1]==day){
				currentTrip.splice(i,1);
			}
		}
		console.log(currentTrip)
	};
</script>


<style type="text/css">
	#popoverContentNav{	
		/*background-color: #aaaaaa;*/
		/*opacity: 0.8;*/
		width: 245pxpx;
		height: 25px;
		position:absolute;
		z-index: 10;
		margin-left : 676px;
		display:block;
		text-align: left;
		overflow-x:hidden;
		overflow-y:auto;
		display:none;
		margin-top: 20px;

	}
	#popoverContentReviews{	
		/*background-color: #aaaaaa;*/
		padding-top: 40px;
		/*opacity: 0.8;*/
		width: 200px;
		height: 200px;
		position:absolute;
		z-index: -1;
		margin-left : 675px;
		display:block;
		text-align: left;
		overflow-x:hidden;
		overflow-y:auto;
		padding-top: 10px;
		display:none;

	}

	#popoverContentNeighbourhood a{	
		/*background-color: #aaaaaa;*/
		margin:2px;

	}

	#popoverContentNeighbourhood{	
		/*background-color: #aaaaaa;*/
		padding-top: 40px;
		/*opacity: 0.8;*/
		width: 200px;
		height: 200px;
		position:absolute;
		z-index: -2;
		margin-left : 675px;
		display:block;
		text-align: left;
		overflow-x:hidden;
		overflow-y:auto;
		display:none;
	}

	#popoverContentNav ul
	{
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
	}

	#popoverContentNav ul li { display: inline; margin: 1px; }

	#popoverContentNav ul li a
	{
		text-decoration: none;
		padding: .2em .8em;
		color: #fff;
		background-color: #036;
	}

	#popoverContentNav ul li a:hover
	{
		color: #fff;
		background-color: #369;
	}

	#popoverContentDetails{	
		/*background-color: #aaaaaa;*/
		padding-top: 40px;
		/*opacity: 0.8;*/
		width: 200px;
		height: 200px;
		position:absolute;
		z-index: 1;
		margin-left : 675px;
		display:block;
		text-align: left;
		overflow-x:hidden;
		overflow-y:auto;
		display:none;

	}


	#touristSpotTag{
		opacity: 0.8;
		z-index: 3;
		display:inline-block;
		text-align: left;
		overflow-x:hidden;
		overflow-y:auto;
		margin: 3px;
		padding: 7px;
		min-height: 7px;		
		color: black;
	}
	.tag_text{
		line-height: 4px;
		font-size: 15px;
		top: 0;
	}
	.mapOnly{	
		z-index: 1;
		position:absolute;
	}
	.listData{

	}

	.innerTab{

	}

</style>

<script>
	$('.popoverId').click(function(){
		$("#popoverContentReviews").toggle();
		$("#popoverContentNeighbourhood").toggle();
		$("#popoverContentDetails").toggle();
	});
</script>

<style type="text/css" id="page-css">
	.scroller1{
		width: 100%;
		height: 450px;
		overflow: auto;
	}
</style>
