<% provide(:title, "EntityAddition")	%>

<%= render 'layouts/writer_header' %>

<%= render 'layouts/writer_header2' %>


<form role="form" action=<%="/users/#{@user.id}/writer_done"%> method="get">
	<div class="container" >

		<div  style="background-color:#777777;border-radius:20px;margin:20px;margin-top:40px">

			<div class="addEntryPoint" >
				<button id="addEntryPoint" class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px;">ADD/MODIFY ENTRY POINTS</button>
			</div>

			<div class="deleteEntryPoint" >
				<button id="deleteEntryPoint" class="btn" type="button" style="width:300px;height:30px;margin:10px;margin-left:300px;">DELETE ENTRY POINTS</button>
			</div>
		</div>

		<div  style="background-color:#777777;border-radius:20px;margin:20px;margin-top:30px">

			<div class="addTouristSpot" >
				<button id="addTouristSpot" class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">ADD/MODIFY TOURIST SPOTS</button>
			</div>

			<div class="deleteTouristSpot" >
				<button id="deleteTouristSpot"  class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">DELETE TOURIST SPOTS</button>
			</div>


		</div>

		<div   style="background-color:#777777;border-radius:20px;margin:20px;margin-top:30px">

			<div class="addHotel" >
				<button id="addHotel" class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">ADD/MODIFY HOTELS</button>
			</div>	

			<div class="deleteHotel" >
				<button id="deleteHotel" class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">DELETE HOTELS</button>
			</div>
		</div>

		<div style="background-color:#777777;border-radius:20px;margin:20px;margin-top:30px">

			<div class="addTransportStand" >
				<button id="addTransportStand" class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">ADD/MODIFY TRANSPORT STANDS</button>
			</div>

			<div class="deleteTransportStand" >
				<button id="deleteTransportStand" class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">DELETE TRANSPORT STANDS</button>
			</div>
		</div>
		<div class="span3">
			<button class="btn" type="submit" style="width:200px">SUBMIT</button>
		</div>
	</div>
</form>


<%= link_to "entity", "/users/#{@user.id}/writer_done"%>

<script>
	var EntryPointCount=0;
	var EPD=0;
	var TS=0;
	var TSD=0;
	var LTS=0;
	var LTSD=0;
	var H=0;
	var HD=0;

	function deleteFunc(param){
		$(param).parent().remove(); 
	};     

	$('#addEntryPoint').click(function(){
		EntryPointCount= EntryPointCount+1;
		div1='<div style="background:#777777;margin-left:80px;padding-top:10px;display:"><input type="text" class="input-medium search-query" name="EPname'+EntryPointCount+'" placeholder="Name"><input type="text" class="input-medium search-query" name="EPLat'+EntryPointCount+'" placeholder="Latitude"><input type="text" class="input-medium search-query" name="EPLong'+EntryPointCount+'" placeholder="Longitude"><select class="btn btn-default dropdown-toggle" name="EPType'+EntryPointCount+'" placeholder="Type"><option value="airport">airport</option><option value="railway">railway</option></select><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.addEntryPoint').prepend(div1);                         
	});

	$('#deleteEntryPoint').click(function(){
		EPD=EPD+1;
		div2='<div style="background:#777777;margin-left:300px;padding-top:10px;display:"><input type="text" class="input-medium search-query" id="EP" name="EPdName'+EPD+'" placeholder="Name"><input type="text" class="input-medium search-query" placeholder="Type" name="EPdType'+EPD+'"><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.deleteEntryPoint').prepend(div2);   
		$("#EP").autocomplete({
			source: <%= raw @EP %>
		});                        
	});

	$('#addTouristSpot').click(function(){
		TS=TS+1;
		div3='<div style="background:#777777;margin-left:80px;padding-top:10px;display:"><input type="text" class="input-small search-query" name="TSName'+TS+'" placeholder="Name"><input type="text" class="input-small search-query" name="TSLat'+TS+'" placeholder="Latitude"><input type="text" class="input-small search-query" name="TSLong'+TS+'" placeholder="Longitude"><input type="text" class="input-small search-query" name="TSDesc'+TS+'" placeholder="Discription"><select type="text" class="btn btn-default dropdown-toggle" name="TSCat'+TS+'" placeholder="Category"><option value="Art Gallery">Art Gallery</option><option value="Historic Site">Historic Site</option><option value="Museum">Museum</option><option value="Music Venue">Music Venue</option><option value="Performing Arts Venue">Performing Arts Venue</option><option value="Zoo">Zoo</option><option value="Beach">Beach</option><option value="Plaza">Plaza</option><option value="Religious/Spiritual">Religious/Spiritual</option><option value="National Parks">National Parks</option></select><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.addTouristSpot').prepend(div3);                         
	});

	$('#deleteTouristSpot').click(function(){
		TSD=TSD+1;
		div4='<div style="background:#777777;margin-left:300px;padding-top:10px;display:"><input type="text" class="input-medium search-query" id="TS" name="TSdName'+TSD+'" placeholder="Name"><input type="text" class="input-medium search-query" placeholder="Category" name="TSdCat'+TSD+'"><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.deleteTouristSpot').prepend(div4);  
		$("#TS").autocomplete({
			source: <%= raw @TS %>
		});                       
	});

	$('#addHotel').click(function(){
		H=H+1;
		div5='<div style="background:#777777;margin-left:80px;padding-top:10px;display:"><input type="text" class="input-medium search-query" name="HName'+H+'" placeholder="Name"><input type="text" class="input-medium search-query" name="HLat'+H+'" placeholder="Latitude"><input type="text" class="input-medium search-query" name="HLong'+H+'" placeholder="Longitude"><input type="text" class="input-medium search-query" name="HDesc'+H+'" placeholder="Discription"><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.addHotel').prepend(div5);                       
	});

	$('#deleteHotel').click(function(){
		HD=HD+1;
		div6='<div style="background:#777777;margin-left:300px;padding-top:10px;display:"><input type="text" class="input-large search-query" id="H" name="HdName'+HD+'" placeholder="Name"><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.deleteHotel').prepend(div6); 
		$("#H").autocomplete({
			source: <%= raw @H %>
		});                        
	});

	$('#addTransportStand').click(function(){
		LTS=LTS+1;
		div7='<div style="background:#777777;margin-left:80px;padding-top:10px;display:"><input type="text" class="input-medium search-query" name="LTSName'+LTS+'" placeholder="Name"><input type="text" class="input-medium search-query" name="LTSLat'+LTS+'" placeholder="Latitude"><input type="text" class="input-medium search-query" name="LTSLong'+LTS+'" placeholder="Longitude"><select type="text" class="btn btn-default dropdown-toggle" name="LTSType'+LTS+'" placeholder="Type"><option value="bus">bus</option><option value="metro">metro</option></select><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.addTransportStand').prepend(div7);                         
	});

	$('#deleteTransportStand').click(function(){
		LTSD=LTSD+1;
		div8='<div style="background:#777777;margin-left:300px;padding-top:10px;display:"><input type="text" class="input-medium search-query" id="LTS" name="LTSdName'+LTSD+'" placeholder="Name"><input type="text" class="input-medium search-query" placeholder="Type" name="LTSdType'+LTSD+'"><a onclick="deleteFunc(this)" class="delete btn btn-mini" href="#"><i class="icon-remove"></i> delete</a></div>';
		$('.deleteTransportStand').prepend(div8);   
		$("#LTS").autocomplete({
			source: <%= raw @LTS %>
		});
	});  
</script>