<% provide(:title, "StateAddition")	%>
	
<%= render 'layouts/writer_header' %>

<%= render 'layouts/writer_header3', whatToAdd: "State" %>

<div class="row-fluid"style="background:#444444;border-radius:10px;margin-top: 110px;">
<div class="span12" style="margin:20px;margin-left:40px">
  <div class="row-fluid">

    <div class="span2">
      <input type="text" class="input-small search-query" placeholder="State Name">
    </div>

 
    <div class="row-fluid offset2" style="">
      <div class="span3">
        <input type="text" class="input-medium search-query" placeholder="Top Left Latitude">
      </div>

      <div class="span3" style="margin-left=0px">
        <input type="text" class="input-medium search-query" placeholder="Top Left Longitude">
      </div>
      </br>
    </div>

    <div class="row-fluid offset2" style="margin-top:20px">
      <div class="span3">
        <input type="text" class="input-medium search-query" placeholder="Right Bottom Latitude">
      </div>

      <div class="span3">
        <input type="text" class="input-medium search-query" placeholder="Right Bottom Longitude">
      </div>

       <div class="span3">
        <button class="btn" type="button" style="width:200px">Add New State</button>
      </div>
    </div>              
  </div>
</div>
</div>

</br>
<div class="row-fluid"style="background:#444444;border-radius:10px">
<div class="span12" style="margin:20px;margin-left:40px">
  <div class="row-fluid">

    <div class="span2">
      <input type="text" class="input-small search-query" id="state1" placeholder="State Name">
    </div>

   
     <div class="span3" style="margin-left:660px">
      <button class="btn" type="button" style="width:200px" >Add To Existing State</button>
    </div>
             
  </div>
</div>
</div>

</br>
<div class="row-fluid"style="background:#444444;border-radius:10px">
<div class="span12" style="margin:20px;margin-left:40px">
  <div class="row-fluid">

    <div class="span2">
      <input type="text" class="input-small search-query" id="state2" placeholder="State Name">
    </div>

 
    <div class="row-fluid offset2" >
      <div class="span3">
        <input type="text" class="input-medium search-query" placeholder="Top Left Latitude">
      </div>

      <div class="span3" style="margin-left=0px">
        <input type="text" class="input-medium search-query" placeholder="Top Left Longitude">
      </div>
      </br>
    </div>

    <div class="row-fluid offset2" style="margin-top:20px">
      <div class="span3">
        <input type="text" class="input-medium search-query" placeholder="Right Bottom Latitude">
      </div>

      <div class="span3">
        <input type="text" class="input-medium search-query" placeholder="Right Bottom Longitude">
      </div>

       <div class="span3">
        <button class="btn" type="button" style="width:200px">Modify Existing State</button>
      </div>
    </div>              
  </div>
</div>
</div>


<%= link_to "District", "/users/#{@user.id}/writer_district"%>



<script>
  $(function(){
    $("#state1").autocomplete({
      source: <%= raw @stateName %>
    });
    $("#state2").autocomplete({
      source: <%= raw @stateName %>
    });
  });
</script>